html,body {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
background-color:white;
}

.app {
    display: flex;
    flex-direction: row;
}
/* ----Nav--- */
nav {
    height: 100vh;
    background-color: rgb(43,43,63);
    color: rgb(255,255,255);
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content:center;
}

nav .logo-container,
nav .controls-container {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

nav .logo-container img {
    width: 30px;
    color: white;
}

nav .icon {
    color: rgb(255,255,255);
}

/* Dashboard */

.dashboard {
    padding: 30px;
    width:100%;
}

.board-container {
    height:80vh;
    overflow: scroll;
}


